header{
background-color: black;
color: white;  
font-family: 'Poppins', sans-serif;
}
@media (max-width: 600px){
   header{
    margin: 10px 15px 10px 15px
   } 
}

h2{
    margin: 27px 0 57px 0;
    font-size: 3em;

}
u{
    color: red;
    font-family: 'Poppins', sans-serif;
}
section{
    margin: 25px 0 25px 0;
}
p{
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
}
article{
    margin: 25px 0 35px 0;
}